[DEFAULT]
annee = 2022

[Bareme des impots]
    # tranche 1 2 3 4
tranches = 0, 10777, 27478, 78570, 168994 
    # taux pour chaque tranche ci-dessus
taux_imposition = 0, 0.11, 0.3, 0.41, 0.45 

[Reduction]
    # plafond de decote pour celibataire - couple
plafond_decote = 1722, 2842 
    # parametres de decote pour celibataire - couple
param_decote = 779, 1289 
coef_decote = 0.4525  
ABATTEMENT = 442, 12652
PLAFOND_QF_DEMI_PART = 1570
PLAFOND_REVENUS_CELIBATAIRE_POUR_REDUCTION = 21037
PLAFOND_REVENUS_COUPLE_POUR_REDUCTION = 42074
VALEUR_REDUC_DEMI_PART = 3797